body {
  display: flex;
  text-align: center;
}

button {
  border: none;
  border-radius: 20px;
  width: 90pt;
  height: 30pt;
  font-size: 20px;
  color: #fff;
}

#decrement {
  background-color: #000;
}

#increment {
  background-color: lightgreen;
}

#show-state {
  font-size: 20px;
}
