button {
  border: none;
  border-radius: 20px;
  width: 90pt;
  height: 30pt;
  font-size: 20px;
  color: #fff;
}

#container {
  text-align: center;
}

#erase-message {
  background-color: #000;
}

#fetch-message {
  background-color: lightgreen;
}

#show-state {
  font-size: 20px;
}
